/* Reset de box-sizing para evitar problemas de layout */
* {
  box-sizing: border-box;
}

/* Estilo base para o corpo da página */
body {
  font-family: Poppins, sans-serif;                       /* Fonte Poppins */
  display: flex;
  flex-direction: column;
  min-height: 100vh;                                      /* Garante que o corpo da página ocupe pelo menos toda a altura da viewport */
}

/* Classe para indicar elementos obrigatórios */
.required {
  color: var(--primary-40);                                 /* Cor vermelha para indicar elementos obrigatórios */
}

/* Classe para espaçar as inputs no formulário */
.left-identation {
  margin-right: 10px;
}

/* Container para inputs em coluna */
.column-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
  align-items: center;
}

/* Container para inputs em linha */
.row-inputs-container {
  width: 70%;                                               /* Ajustável conforme necessidade do comprimento */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px;
  align-items: center;
}

/* Container para input de largura total */
.input-full-container {
  width: 100%;
}

/* Inputs de largura total */
.input-full-container input {
  height: 45px;                                             /* Altura padrão para inputs */
}

/* Containers de inputs */
.input-date-container,
.gener-input-container,
.mid-input-container {
  width: 50%;                                               /* Largura padrão para containers de inputs */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Selects */
select {
  -webkit-appearance: none;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--neutral-50);                     
  border-radius: 6px;
  box-sizing: border-box;
}

.custom-select-wrapper {
  width: 100%;
  position: relative;
  display: inline-block;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  right: 18px; 
  transform: translateY(140%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--neutral-100); 
  pointer-events: none; 
}

/* Inputs de texto */
.input-full-container input,
.input-date-container input,
.mid-input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--neutral-50);                      /* Cor da borda padrão */
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Estilo para inputs de texto e data dentro dos containers */
.input-date-container input,
.mid-input-container input,
.gener-input-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--neutral-50);                      /* Cor da borda padrão */
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 45px;                                             /* Altura padrão para inputs */
  flex-wrap: wrap;
}

/* Container para inputs com ícone */
.input-with-icon {
  position: relative;
  width: 100%;
  height: 45px;                                             /* Altura padrão para inputs */
}

/* Inputs dentro de containers com ícone */
.input-with-icon input {
  width: calc(100% - 30px);                                 /* Largura da entrada menos a largura do ícone */
  height: 100%;                                             /* Altura padrão para inputs */
}

/* Ícone de pesquisa */
.search-icon {
  width: 24px;                                              /* Largura do ícone */
  height: 24px;                                             /* Altura do ícone */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  background-size: contain;                                 /* Ajustar o tamanho do ícone */
  background-repeat: no-repeat;                             /* Não repetir o ícone */
  position: absolute;
  top: 45%;                                                 /* Centraliza verticalmente */
  right: 40px;                                              /* Posiciona à direita */
}

/* Efeito de hover nos inputs */
.input-full-container input:hover,
.input-date-container input:hover,
.mid-input-container input:hover,
.select select:hover {
  border-color: var(--primary-40);                          /* Muda a cor da borda no hover */
  cursor: pointer;                                          /* Muda o cursor para um indicador de interatividade */
}

/* Estilo para inputs focados */
.input-full-container input:focus,
.input-date-container input:focus,
.mid-input-container input:focus,
.select select:focus {
  border-color: var(--primary-40);                          /* Muda a cor da borda quando o input está focado */
}

/* Estilo para labels */
label {
  width: 100%;                                              /* Garante que a label ocupe a largura total */
  font-weight: 700;                                         /* Peso da fonte */
}

/* Estilo para checkboxes e radios */
.checkbox-line label {
  font-weight: 500;                                         /* Peso da fonte para checkboxes e radios */
}

/* Estilos para linhas de checkboxes e radios */
.checkbox-line,
.radio-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;                                                 /* Espaço entre os elementos */
}

/* Estilo para inputs de checkbox e radio */
.checkbox-input,
.radio-input {
  display: none;                                            /* Esconde os inputs de checkbox e radio */
}

/* Estilos para botões de checkbox e radio */
.checkbox-button,
.radio-button {
  width: 14px;                                              /* Largura do botão */
  height: 14px;                                             /* Altura do botão */
  border-radius: 4px;                                       /* Borda arredondada */
  background-color: var(--var-color-background-white);      /* Cor de fundo padrão */
  border: 1px solid var(--neutral-50);                      /* Cor da borda padrão */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Estilos para botões de checkbox pequenos */
.small-checkbox-button {
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: var(--var-color-background-white); 
  border: 1px solid var(--neutral-50);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} 

/* Hover sobre botões de checkbox */
.checkbox-button:hover,
.small-checkbox-button:hover {
  filter: brightness(0.8);                                  /* Reduz a luminosidade ao passar o mouse */
}

/* Estilos para botões de checkbox marcados */
.checkbox-input:checked + .checkbox-button:active,
.checkbox-input:checked + .checkbox-button,
.checkbox-input:checked + .small-checkbox-button:active,
.checkbox-input:checked + .small-checkbox-button,
.small-checkbox-button:checked + .checkbox-button,
.small-checkbox-button:checked + .small-checkbox-button:active {
  background-color: var(--primary-40);                      /* Altera a cor de fundo quando o botão é clicado e está marcado */
  border: 1px solid var(--neutral-50);                      /* Mantém a borda inalterada */
}

/* Estilo para imagem dentro de botão de checkbox */
.checkbox-button img {
  width: 12px;                                              /* Largura da imagem */
  height: 12px;                                             /* Altura da imagem */
  justify-items: center;                                    /* Alinha a imagem horizontalmente */
  align-self: center;                                       /* Alinha a imagem verticalmente */
}

/* Estilo para labels com texto longo */
.case-yourself-container label,
.trated-health-unit-container label {
  overflow: hidden;                                         /* Esconde o conteúdo que excede o tamanho do container */
  text-overflow: ellipsis;                                  /* Adiciona reticências quando o texto é muito longo */
  white-space: wrap;                                        /* Quebra de linha quando necessário */
  max-width: 100%;                                          /* Largura máxima */
}

/* Estilo para container de checkbox e texto associado */
.case-yourself-container,
.trated-health-unit-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 8px;                                                 /* Espaço entre os elementos */
}

#case-yourself-healht-unit,
#health-agent {
  align-self: flex-start;
  gap: 14px
}

/* Estilos específicos para a página de mapa de casos de dengue */
.filter-row-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 8px;
}

.map-filter-container {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--neutral-10);
}

.map-filter-item {
  padding: 0;
  margin-right: 8px;
  margin-bottom: 0;
}

.map-filter-item:last-child {
  margin-right: 0;
}

.map-search-field {
  flex: 2;
}

.map-select-field {
  flex: 1;
}

.map-date-field {
  flex: 1;
}

.map-button-field {
  flex: 1;
  display: flex;
  justify-content: center;
}

.map-button-align {
  margin-bottom: 8px; /* Ajuste este valor conforme necessário */
  align-self: flex-end;
}

/* Estilo para botões */
.simple-button {
  background-color: var(--primary-40);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.simple-button:hover {
  background-color: var(--primary-60);
}

.highlighted-button {
  background-color: var(--primary-40);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.highlighted-button:hover {
  background-color: var(--primary-60);
}

.uniform-button {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
}

.map-search-button {
  min-width: 100px;
  height: 45px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-search-button-container {
  flex: 0 0 auto;
  width: auto;
  align-self: flex-end;
  margin-bottom: 8px;
}

.map-search-button img {
  width: 20px;
  height: 20px;
}

/* Estilos para labels na página de mapa */
.map-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  width: 100%;
}

/* Estilos para containers de input na página de mapa */
.map-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-input-container input,
.map-input-container select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--neutral-50);
  border-radius: 8px;
  height: 45px;
}

.map-input-container input:hover,
.map-input-container select:hover {
  border-color: var(--primary-40);
  cursor: pointer;
}

.map-input-container input:focus,
.map-input-container select:focus {
  border-color: var(--primary-40);
}

/* Responsividade para mapa de casos */
@media (max-width: 991px) {
  .filter-row-container {
    flex-direction: column;
    gap: 15px;
  }
  
  .map-filter-item {
    width: 100% !important;
    margin-right: 0;
    margin-bottom: 5px;
  }
  
  .map-search-field,
  .map-select-field,
  .map-date-field,
  .map-button-field {
    flex: 1 1 100%;
  }
  
  .map-search-button-container {
    align-self: center;
    margin-top: 10px;
  }
  
  .map-search-button {
    width: 100%;
  }
  
  .uniform-button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .column-inputs-container {
    width: 90%; 
    margin: 0 auto; 
  }

  .row-inputs-container {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .input-full-container,
  .input-date-container,
  .mid-input-container {
    width: 100%; 
  }
}