* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.recover-password-container {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 11rem;
  position: relative;
}

.header-recover-password {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  flex-direction: column;
}

.header-recover-password h1 {
  font-weight: 700;
  font-size: 40px;
  color: var(--primary-40);
  text-align: left;
  align-self: left;
}

.header-recover-password img {
  width: 233px;
  height: 214px;
  flex-shrink: 0;
  align-self: center;
}

form {
  margin: 0 auto;
  padding: 28px;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid var(--neutral-50);
  border-radius: 8px;
  width: 52vw;
  margin-bottom: 1rem;
}

.row-inputs-container {
  width: 100%;
  margin: 12px 0px;
}

.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
  width: 200px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .recover-password-container {
    margin: 0 auto;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    padding: 32px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-button {
    padding: 8px 16px;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .recover-password-container {
    width: 75vw;
    margin: 2rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    padding: 32px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    bottom: auto;
  }
}

@media screen and (min-width: 260px) and (max-width: 620px) {
  .recover-password-container {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2rem;
  }

  form {
    width: 100%;
    padding: 32px;
    margin: 4px;
  }

  .row-inputs-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
  }

  .submit-button {
    padding: 8px 16px;
    height: 42px;
    width: 162px;
    font-size: 18px;
  }

  .footer {
    bottom: auto;
  }
}
